<!DOCTYPE HTML>

<html>
<head>
    <title>register</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <% include ./header %>

    <!-- Menu -->


    <section class="new_task">
        <table>

            <tr>
                <th>任務名稱</th>
                <th>任務類別</th>
                <th>發布時間</th>
                <th>到期時間</th>
                <th></th>
            </tr>

            <% if(tasks){
            for(var i = 0;i < tasks.length;i++) { %>
            <tr><%=tasks[i].rmID%>已請求執行此任務</tr>
            <tr>
                <td><%=tasks[i].title%></td>
                <td><%=tasks[i].category%></td>
                <td><%=tasks[i].createTime%></td>
                <td><%=tasks[i].due_time%></td>
                <form action="/accept" method="post">

                    <input type="hidden" id="tID" name="tID" value="<%=tasks[i]._id%>">
                    <input type="hidden" id="status" name="status" value="progressing">
                    <td> <input type="submit" id="aSubmit" name="aSubmit" value="接受"></td>
                </form>

                <form action="/decline" method="post">

                    <input type="hidden" id="tID" name="tID" value="<%=tasks[i]._id%>">
                    <input type="hidden" id="status" name="status" value="available">
                    <td> <input type="submit" id="dSubmit" name="dSubmit" value="取消"></td>
                </form>

            </tr>
            <%}} %>
        </table>
    </section>




</div>



</body>
</html>