<!DOCTYPE HTML>

<html>
<head>
    <title>Project-任務列表</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link href="/assets/css/tabulator.min.css" rel="stylesheet">

    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <% include ./header %>
    <script type="text/javascript" src="/assets/js/tabulator.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

   <br>
    <h2 class="alltask-h2" align="center"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;任務列表</h2>
    <hr class="style-one" />


    <script>

        $(function(){
            $(".flip").click(function(){
                $(".panel").slideToggle("slow");
                $(".xs1").toggle();
                $(".xs2").toggle();
            });});
        $(function(){
            $(".cancel").click(function(){
                window.location.replace("/all-task");
            });

        });

        var category_sel=[];
        var reward_sel=[];
        var level_sel=[];
        var due_date_sel=[];
        var Msg;
        function check(formObj) {
            var category=formObj.category;

            var reward=formObj.reward;

            var level=formObj.level;

            var due_date=formObj.due_date;


            for (var i=0; i<category.length; i++) {
                if (category[i].checked) {
                    category_sel.push(category[i].value);
                }
            }
            for (var i=0; i<reward.length; i++) {
                if (reward[i].checked) {
                    reward_sel.push(reward[i].value);
                }
            }
            for (var i=0; i<level.length; i++) {
                if (level[i].checked) {
                    level_sel.push(level[i].value);
                }
            }
            for (var i=0; i<due_date.length; i++) {
                if (due_date[i].checked) {
                    due_date_sel.push(due_date[i].value);
                }
            }
            Msg='--篩選條件--'+"\n任務類別："+category_sel.join()+"\n佣金："+reward_sel.join()+"\n等級限制："+level_sel.join()+"\n到期日期："+due_date_sel.join();
            alert("任務類別:"+ Msg);


        }
        $(document).ready( function () {
            if(Msg!=undefined) {
                document.getElementById("msg").innerHTML = Msg;
            }
            $('.all-task').DataTable({


            });
        } );

    </script>
    <!-- Main -->

    <span class="flip" style="text-align: center;background-color: #1d3e81;width: 20%;border-radius: 5%; margin-left: 10%;">篩選器</span>&nbsp;&nbsp;&nbsp;<span class="cancel" style="text-align: center;background-color: #1d3e81;width: 20%;border-radius: 5%; margin-right: 0%;">取消篩選</span>
    <div id="msg">



    </div>
    <div class="panel" style="display:none; margin-left: 10%">


    <form method="post" action="/all-task/filter">
        <div><p>任務類別：</p>
        <input type="checkbox" id="purchase" name="category" value="代購">
        <label for="purchase">代購</label>
            <input type="checkbox" id="deliver" name="category" value="遞送貨物">
            <label for="deliver">遞送</label>
            <input type="checkbox" id="transport" name="category" value="交通運輸">
            <label for="transport">運輸</label>
            <input type="checkbox" id="other" name="category" value="其他">
            <label for="other">其他</label>
    </div>
        <div><p>佣金範圍：</p>
            <input type="checkbox" id="50" name="reward" value="50">
            <label for="50">50元以下</label>
            <input type="checkbox" id="100" name="reward" value="100">
            <label for="100">50(含)-100元</label>
            <input type="checkbox" id="150" name="reward" value="150">
            <label for="150">100(含)-150元</label>
            <input type="checkbox" id="200" name="reward" value="200">
            <label for="200">150(含)-200元</label>
            <input type="checkbox" id="300" name="reward" value="300">
            <label for="300">200元以上</label>
        </div>
        <div><p>最高等級限制：</p>
            <input type="checkbox" id="0" name="level" value="0">
            <label for="0">0</label>
            <input type="checkbox" id="1" name="level" value="1">
            <label for="1">1</label>
            <input type="checkbox" id="2" name="level" value="2">
            <label for="2">2</label>
            <input type="checkbox" id="3" name="level" value="3">
            <label for="3">3</label>
            <input type="checkbox" id="<%=current_member.level%>" name="level" value="<%=current_member.level%>">
            <label for="<%=current_member.level%>">我的等級</label>
        </div>
        <div><p>到期日期：</p>
            <input type="checkbox" id="today" name="due_date" value="today">
            <label for="today">今天</label>
            <input type="checkbox" id="three-day" name="due_date" value="three-day">
            <label for="three-day">三日之內</label>
            <input type="checkbox" id="one-week" name="due_date" value="one-week">
            <label for="one-week">一週之內</label>

        </div>

        <button type="submit" onclick="check(this.form)">篩選</button>


    </form>
    </div>


    <table class="all-task">
        <thead>
        <tr>
            <th>任務類別</th>
            <th>任務名稱</th>
            <th>發布者</th>
            <th>佣金</th>
            <th>到期時間</th>
            <th>&nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% if(tasks){
        for(var i = 0;i < tasks.length;i++) {
        if(tasks[i].pmID._id==current_member._id){%>

        <tr>
            <% if(tasks[i].category=='代購'){ %>
            <td data-th='任務類別' width="200" valign="middle" style="text-align: center; vertical-align:middle;" ><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;<%=tasks[i].category%></td>
            <%}else if(tasks[i].category=='遞送貨物'){ %>
            <td data-th='任務類別' width="200" valign="middle" style="text-align: center; vertical-align:middle;"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp;<%=tasks[i].category%></td>
            <%}else if(tasks[i].category=='交通運輸'){ %>
            <td data-th='任務類別' width="200" valign="middle" style="text-align: center; vertical-align:middle;"><i class="fa fa-taxi" aria-hidden="true"></i>&nbsp;&nbsp;<%=tasks[i].category%></td>
            <%}%>
            <td data-th='任務名稱' width="500" valign="middle" style="text-align: center; vertical-align:middle;" ><a class="a-inside edit"  href="../all-task/<%=tasks[i]._id%>"><%=tasks[i].title%></a></td>
            <td data-th='發布者' width="200" valign="middle" style="text-align: center; vertical-align:middle;" class="publisher"><i class="fa fa-user-circle" aria-hidden="true"></i><a class="a-inside edit" id="icon fa-car" href="../member/<%=tasks[i].pmID._id%>"><%=tasks[i].pmID.nickname%></a></td>
            <td data-th='佣金' valign="middle" style="text-align: center; vertical-align:middle;">NT$ <%=tasks[i].reward%></td>
            <td data-th='到期時間' valign="middle" style="text-align: center; vertical-align:middle;"><%=tasks[i].due_date%> <%=tasks[i].due_time%></td>
            <td valign="middle" style="text-align: center; vertical-align:middle;">
                <a class="a-inside delete" href="/delete/<%=tasks[i]._id%>">刪除</a>
            </td>
        </tr>

            <%}else{ %>

            <tr>
            <% if(tasks[i].category=='代購'){ %>
            <td data-th='任務類別' valign="middle" width="200" style="text-align: center; vertical-align:middle;"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;<%=tasks[i].category%></td>
            <%}else if(tasks[i].category=='遞送貨物'){ %>
            <td data-th='任務類別' valign="middle" width="200" style="text-align: center; vertical-align:middle;"><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp;<%=tasks[i].category%></td>
            <%}else if(tasks[i].category=='交通運輸'){ %>
            <td data-th='任務類別' valign="middle" width="200" style="text-align: center; vertical-align:middle;"><i class="fa fa-taxi" aria-hidden="true"></i>&nbsp;&nbsp;<%=tasks[i].category%></td>
            <%}%>
            <td data-th='任務名稱' valign="middle" width="500" style="text-align: center; vertical-align:middle;"><a class="a-inside edit"  href="../all-task/<%=tasks[i]._id%>"><%=tasks[i].title%></a></td>
            <td data-th='發布者' valign="middle" width="200" style="text-align: center; vertical-align:middle;"><i class="fa fa-user-circle" aria-hidden="true"></i><a class="a-inside edit" id="icon fa-car" href="../member/<%=tasks[i].pmID._id%>"><%=tasks[i].pmID.nickname%></a></td>
            <td data-th='佣金' valign="middle" style="text-align: center; vertical-align:middle;">NT$ <%=tasks[i].reward%></td>
            <td data-th='到期時間' valign="middle" style="text-align: center; vertical-align:middle;"><%=tasks[i].due_date%> <%=tasks[i].due_time%></td>
                <td>&nbsp;&nbsp;&nbsp;</td>

        </tr>

        <%}}%>
        </tbody>
        <%}else{ %>
        <tr>
            <td colspan="5" >查無結果</td>
        </tr>
        <% } %>
    </table>



    <!-- Footer -->


</div>


</body>
</html>