<!DOCTYPE HTML>

<html>
<head>
    <title>Project-任務列表</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <% include ./header %>



	<table>
        <%if(member._id ==  current_member._id ){%>
        <form action="/new-task" method="post">
            電子郵件：<input type="email" id="email" name="email" disable="disable" value="<%=member.email%>">
            姓名：<input type="text" id="name" name="name" disable="disable" value="<%=member.name%>">
            暱稱：<input type="text" id="nickname" disable="disable" name="nickname" value="<%=member.nickname%>">
            主修：<select id="major" name="major" value="<%=member.major%>">
                　	<option value="mis">資訊管理學系</option>
                　	<option value="communication">傳播學系</option>
            </select>

            生日：<input type="date" id="bDate" name="bDate" disable="disable" value="<%=member.bDate%>">

            手機：<input type="text" id="cell" name="cell"  value="<%=member.cell%>">


            <input type="submit" id="rSubmit" name="rSubmit" class="rSubmit">

        </form>
        <% } %>
                            
    </table>
</div>



</body>
</html>