
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

<script>
    var socket = io.connect();
    var count_o;
    var count;
    var noti;
    socket.on('count', function(data) {
        if(data.count!=null) {
            $('#count').text(data.count);
            console.log(data.count);
            $('#bell').hide();
            count_o=count;
            count=data.count;
            noti=count-count_o;
        }
        else{
            $('#bell').show();
        }
    });

    $('#count').text.change(function(){

    })


</script>
<script>

            if (Notification && Notification.permission === "granted") {

                var n = new Notification("<%= current_member.nickname %>: " + t, options);
                n.onclick = function () {
                    window.location = "/history";
                };
                n.onclose = function () {
                    console.log("notification closed!");
                };
                n.onerror = function () {
                    console.log("An error accured");
                }
            }
        }
    }
    Notification.requestPermission().then(function(result) {
        console.log(result);
    });
    window.addEventListener("load", function(){
        if(Notification && Notification.permission !== "granted"){
            Notification.requestPermission(function(status){
                if(Notification.permission !== status){
                    Notification.permission = status;
                }
            });
        }
        if(noti>0) {

            var t = new Date().toLocaleString();
            var options = {
                dir: "ltr",
                lang: "utf-8",
                icon: "/assets/images/notificationicon.png",
                body: "您有新通知("+count+")，請至歷史任務頁面查看"
            };
            if (Notification && Notification.permission === "granted") {

                var n = new Notification("<%= current_member.nickname %>: " + t, options);
                n.onclick = function () {
                    window.location = "/history";
                };
                n.onclose = function () {
                    console.log("notification closed!");
                };
                n.onerror = function () {
                    console.log("An error accured");
                }
            } else if (Notification && Notification.permission !== "denied") {
                Notification.requestPermission(function (status) {
                    if (Notification.permission !== status) {
                        Notification.permission = status;
                    }
                });
            }
        }

    });
</script>
<header id="header" class="alt">
    <a href="/home" class="logo"><span>i-</span> <strong>Sharing</strong></a>
    <!-- Scripts -->

    <nav>

        <% if (locals.current_member) { %>
        <font  class='hello' size="1"><i class="fa d-inline fa-lg fa-user-circle-o " style="z-index:2000;content: '\f2be';"></i> <%= current_member.nickname %> <i class="fa fa-usd" ></i>:<%=current_member.asset%> </font>
        <i class="fa fa-bell"  id='bell' aria-hidden="true"></i>
        <a href="/history" id="count"></a>

        <% }
        else{ %>
        <META http-equiv="refresh" content="1;URL=/">
        <% }%>
    </nav>
</header>

<!-- Sidebar -->
<div id="sidebar" class="inactive">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">

            <p></p>

                <a class="button_slide slide_right" href="/home">首頁</a></br>
            <a class="button_slide slide_right" href="/new-task">發布任務</a></br>
                <a class="button_slide slide_right" href="/all-task">任務列表</a></br>
                <a class="button_slide slide_right" href="/member/<%=current_member._id%>">關於我</a></br>
                <a class="button_slide slide_right" href="/history">歷史任務</a></br>
    <a class="button_slide slide_right" href="/signout">登出</a></br>
<a class="button_slide slide_right" href="/history">幫助</a>



<!--
            <ul>
                <li><a class="li_befor" href="/home">首頁</a></li>
                <li><a href="/new-task">發布任務</a></li>
                <li>
                    <a href="/all-task">任務列表</a>
                </li>
                <li><a href="/member/<%=current_member._id%>">關於我</a></li>
                <li><a href="/history">歷史任務</a></li>
                <li>
                    <a href="/signout">登出</a>
                </li>
                <li><a href="#">幫助</a></li>
            </ul>-->
            <nav>
            </nav>
        </nav>
    </div>
</div>






