
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

<script>
    var socket = io.connect();
    var count_req_o=0;
    var count_req;
    var count_pro_o=0;
    var count_pro;
    var count_rch_o=0;
    var count_rch;
    var count_pch_o=0;
    var count_pch;
    var noti={req:0, pro:0, rch:0, pch:0};
    socket.on('count', function(data) {
        if(data.count_req!=null) {
            $('#count').text(data.count_req+data.count_pro+data.count_rch+data.count_pch);
            console.log(data.count_pro);
            console.log("count_eqr:"+data.count_req);
            console.log("count_pro:"+data.count_pro);
            console.log("count_pch:"+data.count_pch);
            console.log("count_rch:"+data.count_rch);

            $('#bell').hide();
            if(count_req>count_req_o){
             noti.req=count_req-count_req_o;
             count_req_o=count_req;
            }
            if(count_pro>count_pro_o){
                noti.pro=count_pro-count_pro_o;
                count_pro_o=count_pro;
            }
            if(count_rch>count_rch_o){
                noti.rch=count_rch-count_rch_o;
                count_rch_o=count_rch;
            }
            if(count_pch>count_pch_o){
                noti.pch=count_pro-count_pch_o;
                count_pch_o=count_pch;
            }

        }
        else{
            $('#bell').show();
        }
    });




</script>
<script>

    var timer = null;
    var delayTime = 2000;
    timer = setInterval(notify_interval(), delayTime);

    Notification.requestPermission().then(function(result) {
        console.log(result);
    });
    function notify_interval() {

        window.addEventListener("load", function () {

            if (Notification && Notification.permission !== "granted") {
                Notification.requestPermission(function (status) {
                    if (Notification.permission !== status) {
                        Notification.permission = status;
                    }
                });
            }
            if (noti.req > 0) {

                var t = new Date().toLocaleString();
                var options = {
                    dir: "ltr",
                    lang: "utf-8",
                    icon: "/assets/images/notificationicon.png",
                    body: "您有新任務申請，請至歷史任務頁面查看"
                };
                notify(t, options);
            }
            if (noti.pro > 0) {

                var t = new Date().toLocaleString();
                var options = {
                    dir: "ltr",
                    lang: "utf-8",
                    icon: "/assets/images/notificationicon.png",
                    body: "您有新任務被同意，請至歷史任務頁面查看，並開始執行任務"
                };
                notify(t, options);
            }
            if (noti.rch > 0) {

                var t = new Date().toLocaleString();
                var options = {
                    dir: "ltr",
                    lang: "utf-8",
                    icon: "/assets/images/notificationicon.png",
                    body: "您有新任務被回報完成，請至歷史任務頁面查看，並進行評分"
                };
                notify(t, options);
            }
            if (noti.pch > 0) {

                var t = new Date().toLocaleString();
                var options = {
                    dir: "ltr",
                    lang: "utf-8",
                    icon: "/assets/images/notificationicon.png",
                    body: "您有執行的任務被確認評分，請至歷史任務頁面查看，並進行評分"
                };
                notify(t, options);
            }

        });
    }
    function notify(t,options) {
        if (Notification && Notification.permission === "granted") {
            console.log(<%= current_member.nickname %>);

            var n = new Notification("<%= current_member.nickname %>: " + t, options);
            n.onclick = function () {
                window.location = "/history";
            };
            n.onclose = function () {
                console.log("notification closed!");
            };
            n.onerror = function () {
                console.log("An error accured");
            }
        } else if (Notification && Notification.permission !== "denied") {
            Notification.requestPermission(function (status) {
                if (Notification.permission !== status) {
                    Notification.permission = status;
                }
            });
        }


            }
</script>
<header id="header" class="alt">
    <a href="/home" class="logo"><span>i-</span> <strong>Sharing</strong></a>
    <!-- Scripts -->

    <nav>

        <% if (locals.current_member) { %>
        <font  class='hello' size="1"><i class="fa d-inline fa-lg fa-user-circle-o " style="z-index:2000;content: '\f2be';"></i> <%= current_member.nickname %> <i class="fa fa-usd" ></i>:<%=current_member.asset%> </font>
        <i class="fa fa-bell"  id='bell' aria-hidden="true"></i>
        <a href="/history" id="count"></a>

        <% }
        else{ %>
        <META http-equiv="refresh" content="1;URL=/">
        <% }%>
    </nav>
</header>

<!-- Sidebar -->
<div id="sidebar" class="inactive">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">

            <p></p>

                <a class="button_slide slide_right" href="/home">首頁</a></br>
            <a class="button_slide slide_right" href="/new-task">發布任務</a></br>
                <a class="button_slide slide_right" href="/all-task">任務列表</a></br>
                <a class="button_slide slide_right" href="/member/<%=current_member._id%>">關於我</a></br>
                <a class="button_slide slide_right" href="/history">歷史任務</a></br>
    <a class="button_slide slide_right" href="/signout">登出</a></br>




<!--
            <ul>
                <li><a class="li_befor" href="/home">首頁</a></li>
                <li><a href="/new-task">發布任務</a></li>
                <li>
                    <a href="/all-task">任務列表</a>
                </li>
                <li><a href="/member/<%=current_member._id%>">關於我</a></li>
                <li><a href="/history">歷史任務</a></li>
                <li>
                    <a href="/signout">登出</a>
                </li>
                <li><a href="#">幫助</a></li>
            </ul>-->
            <nav>
            </nav>
        </nav>
    </div>
</div>






