<!DOCTYPE HTML>

<html>
<head>
    <title>history</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>
<body>


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <% include ./header %>

    <script>

        $(function () {
            // 預設顯示第一個 Tab
            var _showTab = 0;
            var $defaultLi = $('ul.tabs li').eq(_showTab).addClass('active');
            $($defaultLi.find('a').attr('href')).siblings().hide();

            // 當 li 頁籤被點擊時...
            // 若要改成滑鼠移到 li 頁籤就切換時, 把 click 改成 mouseover
            $('ul.tabs li').click(function () {
                // 找出 li 中的超連結 href(#id)
                var $this = $(this),
                    _clickTab = $this.find('a').attr('href');
                // 把目前點擊到的 li 頁籤加上 .active
                // 並把兄弟元素中有 .active 的都移除 class
                $this.addClass('active').siblings('.active').removeClass('active');
                // 淡入相對應的內容並隱藏兄弟元素
                $(_clickTab).stop(false, true).fadeIn().siblings().hide();

                return false;
            }).find('a').focus(function () {
                this.blur();
            });
        });
    </script>

    <!-- Menu -->


    <div class="abgne_tab">
        <ul class="tabs">
            <li id="tabs-1"><a href="#tab1">As User</a></li>
            <li id="tabs-2"><a href="#tab2">As Tasker</a></li>
        </ul>

        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <div class="Request">
                    <h2>審核執行申請</h2>
                    <table>
                        <tr>
                            <td>test line:as user</td>
                        </tr>
                        <% if(tasks){
                        for(var i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id && tasks[i].status == 'request'){ %>
                        <tr>
                            <td colspan='6' align="left">
                                <a class="a-inside edit" id="icon fa-car" href="../member/<%= tasks[i].rmID._id %>">
                                    <strong><%= tasks[i].rmID.nickname %></strong></a>
                                <strong>&nbsp;已於&nbsp;</strong><%= tasks[i].requestTime.toLocaleString() %>
                                <strong>請求執行此任務</strong></td>
                        </tr>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>到期時間</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='到期時間' align="center"><%= tasks[i].due_date %></td>
                            <td data-th=''>
                                <form action="/accept" method="post" style="display:inline;">
                                    <input type="hidden" id="tID" name="tID" value="<%= tasks[i]._id %>"
                                           style="display:none;">
                                    <input type="submit" id="aSubmit" name="aSubmit" value="接受">
                                </form>

                                <form action="/decline" method="post" style="display:inline;">
                                    <input type="hidden" id="tID" name="tID" value="<%= tasks[i]._id %>"
                                           style="display:none;">
                                    <input type="submit" id="dSubmit" name="dSubmit" value="取消">

                                </form>
                            </td>

                        </tr>
                        <tr>
                            <td colspan='6'>
                            <td>
                        </tr>
                        <% }}} %>
                    </table>
                    <div class="box14_ribbon"></div>
                </div>

                <div class="Progressing">
                    <h2>進行中任務</h2>

                    <table>
                        <tr>
                            <td>test line:as user</td>
                        </tr>

                        <% if(tasks){
                        for(i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id && tasks[i].status == 'progressing'){ %>
                        %>
                        <tr>
                            <td colspan='6' align="left">
                                <a class="a-inside edit" id="icon fa-car" href="../member/<%= tasks[i].rmID._id %>">
                                    <strong><%= tasks[i].rmID.nickname %></strong></a>
                                <strong>正在執行任務</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>到期時間</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='到期時間' align="center"><%= tasks[i].due_date %></td>
                            <td data-th=''>
                                <% if(tasks[i].rCheck == true && tasks[i].pCheck==false){ %>
                            <td colspan='4'>請為<%= tasks[i].rmID.nickname %>評分，以匯出報酬：
                              <!--  <form method="post" action="/check_and_rate">

                                    <input id="rater" name="<%= tasks[i]._id %>_rater" type="radio" value='true'/>正評
                                    <i class="fa fa-thumbs-up"></i>
                                    <input id="rater" name="<%= tasks[i]._id %>_rater" type="radio" value="false"/>負評
                                    <i class="fa fa-thumbs-down"></i>
                                    <input type="hidden" id="checker" name="checker" value="pCheck"
                                           style="display:none;">
                                    <input type="hidden" id="tID" name="tID" value="<%= tasks[i]._id %>"
                                           style="display:none;">
                                    <input type="submit" name="submit" value="評分">
                                </form>

                                <button onclick="location.href = 'chat';" id="myButton"
                                        class="float-left submit-button">聊天室
                                </button>-->

                                <form method="post" action="/check_and_rate">
                                    <select  id="rate" name="rate" required >
                                        　	<option value="true">正評</option>
                                        　	<option value="false">負評</option>
                                    </select>
                                    <input type="hidden" id="rater" name="rater" value="rRating"
                                           style="display:none;">

                                    <input type="hidden" id="checker" name="checker" value="pCheck"
                                           style="display:none;">
                                    <input type="hidden" id="tID" name="tID" value="<%= tasks[i]._id %>"
                                           style="display:none;">
                                    <input type="submit" name="submit" value="評分">
                                </form>

                                <button onclick="location.href = 'chat';" id="myButton"
                                        class="float-left submit-button">聊天室
                                </button>


                            </td>
                            <% }else if(tasks[i].pCheck==true){ %>
                            <td colspan='4'>
                                <p>等待對方評分</p>
                                <button onclick="location.href = 'chat';" id="myButton"
                                        class="float-left submit-button">聊天室
                                </button>
                            </td>

                            <% }else{ %>
                            <td colspan='4'>
                                <button onclick="location.href = 'chat';" id="myButton"
                                        class="float-left submit-button">聊天室
                                </button>
                            </td>
                            <% } %>

                        </tr>
                        <tr>
                            <td colspan='6'>
                            <td>
                        </tr>
                        <% }}} %>
                    </table>
                </div>
                <div class="Available">
                    <h2>尚未被申請的任務</h2>

                    <table>
                        <tr>
                            <td>test line:as user</td>
                        </tr>

                        <% if(tasks){ %>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>到期時間</th>
                            <th></th>
                        </tr>
                        <% for(i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id && tasks[i].status == 'available'){ %>
                        %>

                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='到期時間' align="center"><%= tasks[i].due_date %></td>
                            <td align="center">
                                <a class="a-inside delete" href="/delete/<%= tasks[i]._id %>">刪除</a></td>
                        </tr>

                        <% }}} %>
                    </table>
                </div>

                <div class="Completed">
                    <h2>已完成任務</h2>
                    <table>
                        <tr>
                            <td>test line:as user</td>
                        </tr>
                        <% if(tasks){ %>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>到期時間</th>
                            <th>狀態</th>
                            <th>確認完成時間</th>
                        </tr>

                        <% for(i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id && tasks[i].status == 'completed'){ %>

                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='到期時間' align="center"><%= tasks[i].due_date %></td>
                            <td data-th='狀態'>
                                <% if(tasks[i].status == 'completed'){ %>
                                <%= tasks[i].rmID.nickname %>完成此任務
                                <% }else if(tasks[i].category == 'cancel'){ %>
                                此任務因效期而取消
                                <% } %>
                            </td>
                            <td><%= tasks[i].doneTime %></td>

                        </tr>

                        <% }}} %>
                    </table>

                </div>


            </div>


            <div id="tab2" class="tab_content">
                <div class="t_request">
                    <h2>申請中的任務</h2>

                    <table>
                        <tr>
                            <td>test line:as task</td>
                        </tr>

                        <% if(tasks){
                        for(i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id){
                        }else if(tasks[i].status == 'request'){ %>
                        %>
                        <tr>
                            <td colspan='6' align="left">
                                <a class="a-inside edit" id="icon fa-car" href="../member/<%= tasks[i].pmID._id %>">
                                    <strong><%= tasks[i].pmID.nickname %></strong></a>
                                <strong>&nbsp;正在審核您的申請</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>到期時間</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='到期時間' align="center"><%= tasks[i].due_date.toLocaleString() %></td>


                        </tr>
                        <tr>
                            <td colspan='6'>
                            <td>
                        </tr>
                        <% }
                        }} %>
                    </table>
                </div>
                <div class="t_Progressing">
                    <h2>進行中任務</h2>

                    <table>
                        <tr>
                            <td>test line:as task</td>
                        </tr>

                        <% if(tasks){
                        for(i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id){
                        }else if(tasks[i].status == 'progressing'){ %>
                        %>
                        <tr>
                            <td colspan='6' align="left">
                                <a class="a-inside edit" id="icon fa-car" href="../member/<%= tasks[i].pmID._id %>">
                                    <strong><%= tasks[i].pmID.nickname %></strong></a>
                                <strong>&nbsp;已接受您的申請，請開始執行任務</strong>
                            </td>
                        </tr>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>到期時間</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='到期時間' align="center"><%= tasks[i].due_date.toLocaleString() %></td>
                            <td data-th=''>
                                <% if(tasks[i].rCheck == true && tasks[i].pCheck == false){ %>
                                等待對方確認
                                <% }else if(tasks[i].rCheck == true && tasks[i].pCheck==true){ %>
                            <td colspan='4'>請為<%= tasks[i].pmID.nickname %>評分，以取得報酬入帳：

                                <form method="post" action="/check_and_rate">
                                    <select  id="rate" name="rate" required >
                                        　	<option value="true">正評</option>
                                        　	<option value="false">負評</option>
                                    </select>
                                    <input type="hidden" id="rater" name="rater" value="pRating"
                                           style="display:none;">

                                    <input type="hidden" id="tID" name="tID" value="<%= tasks[i]._id %>"
                                           style="display:none;">
                                    <input type="submit" name="submit" value="評分">
                                </form>

                                <button onclick="location.href = 'chat';" id="myButton"
                                        class="float-left submit-button">聊天室
                                </button>
                            </td>
                            <% }else if(tasks[i].rCheck == false && tasks[i].pCheck == false){ %>
                            <td colspan='4'>
                                <form action="/check_and_rate" method="post" style="display:inline;">
                                    <input type="hidden" id="tID" name="tID" value="<%= tasks[i]._id %>"
                                           style="display:none;">
                                    <input type="hidden" id="checker" name="checker" value="rCheck"
                                           style="display:none;">
                                    <input type="submit" id="cSubmit" name="cSubmit" value="回報完成">
                                </form>

                                <button onclick="location.href = 'chat';" id="myButton"
                                        class="float-left submit-button">聊天室
                                </button>
                                <% } %>

                            </td>

                        </tr>
                        <tr>
                            <td colspan='6'>
                            <td>
                        </tr>
                        <% }}} %>
                    </table>
                </div>
                <div class="t_Completed">
                    <h2>已完成任務</h2>
                    <table>


                        <% if(tasks){ %>
                        <tr>
                            <th>任務名稱</th>
                            <th>任務類別</th>
                            <th class="accept-creatime">發布時間</th>
                            <th>確認完成時間</th>
                            <th></th>
                        </tr>
                        <% for(i = 0;i < tasks.length;i++) {
                        if(tasks[i].pmID._id == current_member._id){
                        }else if(tasks[i].status == 'completed'){ %>
                        <tr>
                            <td data-th='任務名稱' style="text-align: center;"><a
                                        href="../all-task/<%= tasks[i]._id %>"><%= tasks[i].title %></a></td>
                            <% if(tasks[i].category == '代購'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-shopping-cart"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '遞送貨物'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-gift"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% }else if(tasks[i].category == '交通運輸'){ %>
                            <td data-th='任務類別' style="text-align: center;"><i class="fa fa-taxi"
                                                                              aria-hidden="true"></i>&nbsp;&nbsp;<%= tasks[i].category %>
                            </td>
                            <% } %>
                            <td data-th='發布時間' align="center"
                                class="accept-creatime"><%= tasks[i].createTime.toLocaleString() %></td>
                            <td data-th='確認完成時間' align="center"><%= tasks[i].doneTime.toLocaleString() %></td>
                        </tr>

                            <% } %>


                        <% } } %>
                    </table>

                </div>


            </div>


        </div>
    </div>


</div>


</body>
</html>

