<!DOCTYPE HTML>

<html>
<head>
    <title>Project-任務列表</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/ie8.css"/><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <% include ./header %>





    <%if(member._id !=  current_member._id ){%>
    <h2 align="center"><%=member.nickname%>的個人首頁</h2>
    <table class="memberPage">
        <tr>
            <td>暱稱</td>
            <td><%=member.nickname%></td>
            <td>主修</td>
            <td><%=member.major%></td>
            <td>性別</td>
            <td><%=member.gender%></td>
            <% if(member.image !=null ){%>
            <td rowspan="3" valign="middle" align="center"><img src="<%=member.image%>"></td>

            <% }else{%>
            <td rowspan="3" valign="middle" align="center"><img src="/images/profilepic.png"></td>
            <%}%>

        </tr>
        <tr>
            <td>As User評分</td>
            <td><%=member.mRatings%></td>
            <td>As Tasker評分</td>
            <td><%=member.mRatings%></td>
            <td>等級</td>
            <td><%=member.mRatings%></td>
        </tr>
        <tr>
            <td>個人簡介</td>
            <td colspan="5"><%=member.profile%></td>
        </tr>
    </table>
    <%}else{ %>
    <h2 align="center">關於我</h2>
    <table class="photoPage">
        <tr>
            <td colspan="5" align="center">
                <% if(member.image){%>
                <img src="/<%=member.images%>" width="190" height="190" align="center" style="align-content: center"><br>
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <br> <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
                    <br><input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="&#xf093;上傳圖片">
                </form>


                <% }else{%>
                <br><img src="/images/profilepic.png" width="200" height="200" align="center">
                <form method="post" action="/upload" enctype="multipart/form-data">
                    <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
                    <br>   <input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="&#xf093;上傳圖片">
                </form>
            </td>
        </tr>

        <%}%>
        <tr><td align="center">帳戶餘額</td>
            <td align="center"><%=member.asset%></td>
            <td align="center">
                <form method="post" action="/deposit">
                    <input type="hidden" id="mid" name="mid" value="<%= current_member._id %>" style="display:none;">
                    儲值金額:</td>
            <td><input type="number" name="asset" min="0" max="1000000"></td>
            <td width="120"><input type="submit" id="aSubmit" name="aSubmit" value="儲值"></form></td>



        </tr>

    </table>
    <table class="memberPage">
        <%if(member._id ==  current_member._id ){%>

        <form action="/edit/<%=member._id%>" method="post" enctype="multipart/form-data">
            <tr>
                <td>暱稱</td>
                <td><%=member.nickname%></td>
                <td>生日</td>
                <td><%=member.bDate%></td>
                <td>性別</td>
                <td><%=member.gender%></td>
            </tr>
            <tr><td>信箱</td>
                <td><%=member.email%></td>
                <td>手機</td>
                <td><input type="text" id="cell" name="cell"  value="<%=member.cell%>"></td>
                <td>主修</td>

                <td><select id="major" name="major" >
                        <option value="communication">傳播學系</option>　
                        <option value="mis">資訊管理學系</option>
                        　
                    </select></td>

            </tr>
            <tr>
                <% if(member.image){%>
                <td rowspan="3" colspan="2" valign="middle" align="center"><img src="/<%=member.images%>" width="190" height="190" style="float: left"><br>

                    <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>

                </td>

                <% }else{%>
                <td rowspan="3" colspan="2" valign="middle" align="center"><img src="/images/profilepic.png" width="190" height="190" style="float: left"><br>
                    <form method="post" action="/upload" enctype="multipart/form-data">
                        <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>

                    </form>
                </td>

                <%}%>


            </tr>
            <tr>
                <td>As User評分</td>
                <td><%=member.mRatings%></td>
                <td>As Tasker評分</td>
                <td><%=member.mRatings%></td>
                <td >等級</td>
                <td><%=member.level%></td>


            </tr>
            <tr>
                <td>餘額</td>
                <td><%=member.asset%></td>


            </tr>

            <tr>
                <td>個人簡介</td>
                <td colspan="5"><input type="text" id="self_intro" name="self_intro"  value="<%=member.self_intro%>"></td>
            </tr>


            <tr>
                <td colspan="5" align="center"><input type="submit" id="rSubmit" name="rSubmit" class="rSubmit" value="儲存變更" ></td>
            </tr>
        </form>
        <% } %>

    </table>





    <% } %>




</div>
<script>
    $("#major option[value=<%=member.major%>]").attr("selected",true);

</script>




</body>
</html>