<!DOCTYPE HTML>

<html>
<head>
    <title>Project-任務列表</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!--[if lte IE 8]-->
    <!--[endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/fontawesome-stars.css"/>
    <!--[if lte IE 9]-->
    <link rel="stylesheet" href="/assets/css/ie9.css"/><!--[endif]-->
    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="/assets/css/ie8.css"/><!--[endif]-->
</head>
<body>


<!-- Wrapper -->
<div id="rapper">

    <!-- Header -->
    <% include ./header %>
    <script src="../../assets/js/jquery.barrating.min.js"></script>



    <%if(member._id !=  current_member._id ){%>
    <h2 align="center"><%=member.nickname%>的個人首頁</h2>
    <table class="memberPage">
        <tr>
            <% if(member.image !=null ){%>
            <td rowspan="3" valign="middle" align="center"><img src="/<%=member.image%>" width="250" height="250" align="center"></td>

            <% }else{%>
            <td rowspan="3" valign="middle" align="center"><img src="/images/profilepic.png" width="250" height="250" align="center"></td>
            <%}%>

        </tr>
    </table>
    <table class="memberPage">
        <tr>
            <td>暱稱</td>
            <td><%=member.nickname%></td>
            <td>主修</td>
            <td><%=member.major%></td>
            <td>性別</td>
            <td><%=member.gender%></td>


        </tr>
        <tr>
            <td>As User評分</td>
            <script type="text/javascript">
                $(function() {
                    $('#user_Ratings').barrating({
                        theme: 'fontawesome-stars',
                        initialRating:Math.round(<%=member.user_Ratings%>),
                        readonly:true

                    });
                    $('#tasker_Ratings').barrating({
                        theme: 'fontawesome-stars',
                        initialRating:Math.round(<%=member.tasker_Ratings%>),
                        readonly:true

                    });
                });
            </script>


            <td>
                <div class="br-wrapper br-theme-fontawesome-stars">
                    <span style="display:inline-block;"><select id="user_Ratings">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select></span>
                    <span style="display:inline-block;">(<%=member.user_Ratings%>)</span>
                </div>

            </td>
            <td>As Tasker評分</td>

            <td><div class="br-wrapper br-theme-fontawesome-stars">
                    <span style="display:inline-block;"><select id="tasker_Ratings">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select></span>
                    <span style="display:inline-block;">(<%=member.tasker_Ratings%>)</span>
                </div></td>
            <td>等級</td>

                <%if(member.level==1){%>
            <td><p style="background-image: url('../../images/level_01.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==2){%>
            <td><p  class="level_p"style="background-image: url('../../images/level_02.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==3){%>
            <td><p style="background-image: url('../../images/level_03.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==4){%>
            <td><p style="background-image: url('../../images/level_04.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==5){%>
            <td><p style="background-image: url('../../images/level_05.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==6){%>
            <td><p style="background-image: url('../../images/level_06.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==7){%>
            <td><p style="background-image: url('../../images/level_07.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==8){%>
            <td><p style="background-image: url('../../images/level_08.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==9){%>
            <td><p style="background-image: url('../../images/level_09.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==10){%>
            <td><p style="background-image: url('../../images/level_10.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}else if(member.level==11){%>
            <td><p style="background-image: url('../../images/level_11.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
            <%}%>
        </tr>
        <tr>
            <td>個人簡介</td>
            <td colspan="5"><%=member.profile%></td>
        </tr>
    </table>

    <%}else{ %>

    <h2 align="center">關於我</h2>
    <table class="photoPage">
        <% if(member.image){%>
        <tr>
            <td colspan="5" align="center">

                <img src="/<%=member.image%>" width="250" height="250" align="center" style="align-content: center">
                <form method="post" action="/upload/<%= current_member._id %>" enctype="multipart/form-data">
                    <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
                    <br><input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="上傳圖片">
                </form>
            </td>
        </tr>


                <% }else{%>
        <tr>
            <td colspan="5" align="center">

                <br><img src="/images/profilepic.png" width="250" height="250" align="center">
                <form method="post" action="/upload/<%= current_member._id %>" enctype="multipart/form-data">
                    <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
                    <br>   <input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="上傳圖片">
                </form>
            </td>
        </tr>
    </table>

        <%}%>

    <form method="post" action="/deposit">
        <table class="photoPage">

            <tr><td align="center">帳戶餘額</td>
            <td align="center"><%=member.asset%></td>
            <td align="center">


                    儲值金額:
            </td>

                    <td>

                            <input type="hidden" id="mid" name="mid" value="<%= current_member._id %>" style="display:none;">
                        <input type="number" name="asset" min="0" max="1000000"  placeholder="">

                    </td>

                <td width="120"><input type="submit" id="aSubmit" name="aSubmit" value="儲值">

                    </td>

        </tr>

        </table>
    </form>


    <%if(member._id ==  current_member._id ){%>

    <form action="/edit/<%=member._id%>" method="post" class="mForm">
        <table class="memberPage">
            <tr>
                <td>暱稱</td>
                <td><%=member.nickname%></td>
                <td>生日</td>
                <td><%=member.bDate%></td>
                <td>性別</td>
                <td><%=member.gender%></td>
            </tr>
            <tr><td>信箱</td>
                <td><%=member.email%></td>
                <td>手機&nbsp;<i class="fa fa-pencil-square-o" id="cell_pencil" aria-hidden="true"></i></td>
                <td><input type="text" id="cell" name="cell" placeholder="" value="<%=member.cell%>" disabled style="background:#f3f3f3;"></td>
                <td>主修&nbsp;<i class="fa fa-pencil-square-o" id="major_pencil" aria-hidden="true"></i></td>

                <td><select id="major" name="major" disabled style="background:#f3f3f3;">
                        <option value="communication">傳播學系</option>　
                        <option value="mis">資訊管理學系</option>
                        　
                    </select></td>

            </tr>

            <tr>
                <script type="text/javascript">
                    $(function() {
                        $('#user_Ratings').barrating({
                            theme: 'fontawesome-stars',
                            initialRating:Math.round(<%=member.user_Ratings%>),
                            readonly:true

                        });
                        $('#tasker_Ratings').barrating({
                            theme: 'fontawesome-stars',
                            initialRating:Math.round(<%=member.tasker_Ratings%>),
                            readonly:true

                        });
                    });
                </script>
                <td>As User評分</td>

                <td>                <div class="br-wrapper br-theme-fontawesome-stars">
                        <span style="display:inline-block;"><select id="user_Ratings">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select></span>
                        <span style="display:inline-block;">(<%=member.user_Ratings%>)</span>
                    </div>
                </td>
                <td>As Tasker評分</td>
                <td>
                <div class="br-wrapper br-theme-fontawesome-stars">
                    <span style="display:inline-block;"><select id="tasker_Ratings">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select></span>
                    <span style="display:inline-block;">(<%=member.tasker_Ratings%>)</span>

                </div>
                </td>
                <td>等級</td>
                <!--<td><p ><%=member.level%>&nbsp;<%=member.char%></p></td>-->
                <%if(member.level==1){%>
                <td><p style="background-image: url('../../images/level_01.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==2){%>
                <td><p  class="level_p"style="background-image: url('../../images/level_02.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==3){%>
                <td><p style="background-image: url('../../images/level_03.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==4){%>
                <td><p style="background-image: url('../../images/level_04.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==5){%>
                <td><p style="background-image: url('../../images/level_05.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==6){%>
                <td><p style="background-image: url('../../images/level_06.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==7){%>
                <td><p style="background-image: url('../../images/level_07.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==8){%>
                <td><p style="background-image: url('../../images/level_08.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==9){%>
                <td><p style="background-image: url('../../images/level_09.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==10){%>
                <td><p style="background-image: url('../../images/level_10.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==11){%>
                <td><p style="background-image: url('../../images/level_11.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}%>



            </tr>


            <tr>
                <td>個人簡介&nbsp;<i class="fa fa-pencil-square-o" id="self_info_pencil" aria-hidden="true"></i></td>
                <td colspan="6"><input type="text" id="self_intro" name="self_intro"  placeholder="" value="<%=member.self_intro%>" disabled style="background:#f3f3f3;"></td>
            </tr>


            <tr>
                <td colspan="6" align="center"><input type="submit" id="rSubmit" name="rSubmit" class="rSubmit" value="儲存變更" ></td>
            </tr>

        <% } %>



        </table>
        </form>


    <% } %>



</div>
<script>
    $("#major option[value=<%=member.major%>]").attr("selected",true);
    $("#cell_pencil").click(function(){
        $('#cell').removeAttr('disabled');
            document.getElementById("cell").style.background = "#ffffff";
    });
    $("#self_info_pencil").click(function(){
        $('#self_intro').removeAttr('disabled');
        document.getElementById("self_intro").style.background = "#ffffff";
    });
    $("#major_pencil").click(function(){
        $('#major').removeAttr('disabled');
        document.getElementById("major").style.background = "#ffffff";
    });

    //$('#cell').removeAttr('style');



</script>




</body>
</html>