<!DOCTYPE HTML>

<html>
<head>
    <title>Project-任務列表</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]-->
    <script src="assets/js/ie/html5shiv.js"></script><!--[endif]-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <!--[if lte IE 9]-->
    <link rel="stylesheet" href="/assets/css/ie9.css"/><!--[endif]-->
    <!--[if lte IE 8]-->
    <link rel="stylesheet" href="/assets/css/ie8.css"/><!--[endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="rapper">

    <!-- Header -->
    <% include ./header %>

    <%if(member._id !=  current_member._id ){%>
    <h2 align="center"><%=member.nickname%>的個人首頁</h2>
    <table class="memberPage">
        <tr>
            <% if(member.image !=null ){%>
            <td rowspan="3" valign="middle" align="center"><img src="/<%=member.image%>" width="250" height="250" align="center"></td>

            <% }else{%>
            <td rowspan="3" valign="middle" align="center"><img src="/images/profilepic.png" width="250" height="250" align="center"></td>
            <%}%>

        </tr>
    </table>
    <table class="memberPage">
        <tr>
            <td>暱稱</td>
            <td><%=member.nickname%></td>
            <td>主修</td>
            <td><%=member.major%></td>
            <td>性別</td>
            <td><%=member.gender%></td>


        </tr>
        <tr>
            <td>As User評分</td>
            <td><i class="fa fa-thumbs-up"></i> <%=member.user_greatRatings%> <i class="fa fa-thumbs-down"></i> <%=member.user_badRatings%></td>
            <td>As Tasker評分</td>
            <td><i class="fa fa-thumbs-up"></i> <%=member.tasker_greatRatings%> <i class="fa fa-thumbs-down"></i> <%=member.tasker_badRatings%></td>
            <td>等級</td>
            <td>
            <p ><%=member.level%>&nbsp;<%=member.char%></p></td>
        </tr>
        <tr>
            <td>個人簡介</td>
            <td colspan="5"><%=member.profile%></td>
        </tr>
    </table>

    <%}else{ %>

    <h2 align="center">關於我</h2>
    <table class="photoPage">
        <% if(member.image){%>
        <tr>
            <td colspan="5" align="center">

                <img src="/<%=member.image%>" width="250" height="250" align="center" style="align-content: center">
                <form method="post" action="/upload/<%= current_member._id %>" enctype="multipart/form-data">
                    <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
                    <br><input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="上傳圖片">
                </form>
            </td>
        </tr>


                <% }else{%>
        <tr>
            <td colspan="5" align="center">

                <br><img src="/images/profilepic.png" width="250" height="250" align="center">
                <form method="post" action="/upload/<%= current_member._id %>" enctype="multipart/form-data">
                    <input type="file" id="image" name="image" accept="image/gif, image/jpeg, image/png,image/jpg"/>
                    <br>   <input type="submit" id="pSubmit" name="pSubmit" class="pSubmit" value="上傳圖片">
                </form>
            </td>
        </tr>
    </table>

        <%}%>

    <form method="post" action="/deposit">
        <table class="photoPage">

            <tr><td align="center">帳戶餘額</td>
            <td align="center"><%=member.asset%></td>
            <td align="center">


                    儲值金額:
            </td>

                    <td>

                            <input type="hidden" id="mid" name="mid" value="<%= current_member._id %>" style="display:none;">
                        <input type="number" name="asset" min="0" max="1000000"  placeholder="">

                    </td>

                <td width="120"><input type="submit" id="aSubmit" name="aSubmit" value="儲值">

                    </td>

        </tr>

        </table>
    </form>


    <%if(member._id ==  current_member._id ){%>

    <form action="/edit/<%=member._id%>" method="post" class="mForm">
        <table class="memberPage">
            <tr>
                <td>暱稱</td>
                <td><%=member.nickname%></td>
                <td>生日</td>
                <td><%=member.bDate%></td>
                <td>性別</td>
                <td><%=member.gender%></td>
            </tr>
            <tr><td>信箱</td>
                <td><%=member.email%></td>
                <td>手機</td>
                <td><input type="text" id="cell" name="cell" placeholder="" value="<%=member.cell%>"></td>
                <td>主修</td>

                <td><select id="major" name="major">
                        <option value="communication">傳播學系</option>　
                        <option value="mis">資訊管理學系</option>
                        　
                    </select></td>

            </tr>

            <tr>
                <td>As User評分</td>

                <td><span class="fa-stack fa-lg">
  <i class="fa fa-thumbs-up fa-stack-2x"></i>
  <p class="fa-stack-lg" style="color:#fff;"><%=member.user_greatRatings%></p>
</span>

                    <i class="fa fa-thumbs-up"></i> <%=member.user_greatRatings%> <i class="fa fa-thumbs-down"></i> <%=member.user_badRatings%></td>
                <td>As Tasker評分</td>
                <td><i class="fa fa-thumbs-up"></i> <%=member.tasker_greatRatings%> <i class="fa fa-thumbs-down"></i> <%=member.tasker_badRatings%></td>
                <td>等級</td>
                <!--<td><p ><%=member.level%>&nbsp;<%=member.char%></p></td>-->
                <%if(member.level==1){%>
                <td><p style="background-image: url('../../images/level_01.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==2){%>
                <td><p  class="level_p"style="background-image: url('../../images/level_02.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==3){%>
                <td><p style="background-image: url('../../images/level_03.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==4){%>
                <td><p style="background-image: url('../../images/level_04.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==5){%>
                <td><p style="background-image: url('../../images/level_05.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==6){%>
                <td><p style="background-image: url('../../images/level_06.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==7){%>
                <td><p style="background-image: url('../../images/level_07.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==8){%>
                <td><p style="background-image: url('../../images/level_08.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==9){%>
                <td><p style="background-image: url('../../images/level_09.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==10){%>
                <td><p style="background-image: url('../../images/level_10.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}else if(member.level==11){%>
                <td><p style="background-image: url('../../images/level_11.png'); line-height: 37px;background-repeat:no-repeat;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=member.char%></p></td>
                <%}%>



            </tr>


            <tr>
                <td>個人簡介</td>
                <td colspan="6"><input type="text" id="self_intro" name="self_intro"  placeholder="" value="<%=member.self_intro%>"></td>
            </tr>


            <tr>
                <td colspan="6" align="center"><input type="submit" id="rSubmit" name="rSubmit" class="rSubmit" value="儲存變更" ></td>
            </tr>

        <% } %>



        </table>
        </form>


    <% } %>



</div>
<script>
    $("#major option[value=<%=member.major%>]").attr("selected",true);

</script>




</body>
</html>